<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.example.uidproject">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.UIDProject">
        <activity
            android:name=".addCar.AddCar"
            android:exported="false" />
        <activity
            android:name=".login.LoginPage"
            android:exported="false" />
        <activity
            android:name=".wallet.WalletPage"
            android:exported="false" />
        <activity
            android:name=".profilePage.ProfilePage"
            android:exported="false" />
        <activity
            android:name=".mainActivity.MainActivity"
            android:exported="false" />

        android:theme="@style/Theme.UIDProject" >
        <activity
            android:name=".RouteStarted"
            android:exported="false"
            android:label="@string/title_activity_route_started"
            android:theme="@style/Theme.UIDProject.NoActionBar" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:label="Home Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ProfileActivity"
            android:exported="true"
            android:label="Profile">
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="Settings">
        </activity>

        <activity
            android:name=".create_route.CreateRouteActivity"
            android:exported="true"
            android:label="Create Route">
        </activity>

        <activity
            android:name=".create_route.PickTransportationActivity"
            android:exported="true"
            android:label="Pick Transportation">
        </activity>

        <activity
            android:name=".create_route.CreateRouteCarActivity"
            android:exported="true"
            android:label="Create Car">
        </activity>

        <activity
            android:name=".create_route.CreateRouteBusActivity"
            android:exported="true"
            android:label="Create bus transit">
        </activity>

        <activity
            android:name=".create_route.RouteSharedActivity"
            android:exported="true"
            android:label="Route Created">
        </activity>
        <activity
            android:name=".join_route.ChooseRoute"
            android:exported="false" />
        <activity
            android:name=".join_route.RouteSummary"
            android:exported="false" />
        <activity
            android:name=".join_route.OthersProfile"
            android:exported="false" />
        <activity
            android:name=".join_route.TheirBuddies"
            android:exported="false" />
        <activity
            android:name=".join_route.Reviews"
            android:exported="false" />
        <activity
            android:name=".join_route.JoinedRoute"
            android:exported="false" />
    </application>

</manifest>